.root, TreeTableView {
    -fx-base: #393E46;
    -fx-accent: #FD7013;

    -fx-background: -fx-base;
    -fx-control-inner-background: -fx-base;
    -fx-control-inner-background-alt: -fx-base;
    -fx-faint-focus-color: -fx-accent;
    -fx-hover-base: black;
    -fx-pressed-base: derive(-fx-base, -8%);
    -fx-box-border: -fx-hover-base;
    -fx-text-box-border: -fx-hover-base;
    -fx-shadow-highlight-color: -fx-base;
    -fx-outer-border: -fx-hover-base;
    -fx-selection-bar-non-focused: -fx-pressed-base;
}

Button:hover, ToggleButton:hover {
    -fx-background-color: -fx-accent;
}

Button, ToggleButton {
    -fx-border-radius: 0;
    -fx-background-color: #4d5055;
    -fx-text-fill: #EEEEEE;
}

ToggleButton:selected {
    -fx-background-color: #222831;
}

ToggleButton:selected:hover {
    -fx-background-color: derive(-fx-accent, -30%);
}

Slider .thumb {
}

#add-button {
    -fx-background-color: #469c46;
}

#remove-button {
    -fx-background-color: #c46969;
}

TableView .column-header-background {
    -fx-background-color: black;
    -fx-alternative-row-fill-visible: false;
}

.table-row-cell:odd {
    -fx-background-color: derive(-fx-base, -20%);
}
.table-row-cell:selected {
    -fx-background-color: dodgerblue;
}

.request-dialog > .toggle-button {
    -fx-background-color: linear-gradient(from 50% 50% to 75% 75%, rgb(84,196,98) 0%, rgb(43,121,219) 100%);
}

.request-dialog > .toggle-button:selected {
    -fx-background-color: linear-gradient(from 25% 25% to 50% 50%, rgb(84,196,98) 0%, rgb(43,121,219) 100%);
    -fx-animated: true;
    transition: 0.3s ease all;
    z-index: 1;
}